<div class="container">
	<h1>Posts</h1>
    <% @post.each do |post| %>       
          <h2>
            <small><%= post.content %></small><% if display_name? %>
            Author:<%= post.user.name %>             
            </h2>
        <% end %>
    <% end %>
</div>

